<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Take Care Of My Plant</title>
        <meta name="description" content="A project where the internet cares for a plant"</>        <link rel="stylesheet" href="static/main.css">




<html lang="en-US">
  
  
<meta property="og:image" content="http://www.takecareofmyplant.com/static/share_pic.png" /> 
<meta property="og:title" content="Please Take Care Of My Plant" />
<meta property="og:url"content="http://www.takecareofmyplant.com/" />
<meta property="og:description" content="It's up to the internet to keep this plant alive" />
  
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:hashtags" content="takecareofmyplant"
<meta name="twitter:site" content="@wackser">
<meta name="twitter:creator" content="@wackser">
<meta name="twitter:title" content="Please Take Care Of My Plant">
<meta name="twitter:description" content="It's up to the internet to keep this plant alive">
<meta name="twitter:image" content="http://www.takecareofmyplant.com/static/share_pic.png"/>
  
<link rel="shortcut icon" href="favicon.ico"/>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44898119-2', 'auto');
  ga('send', 'pageview');

</script>


<body>
<img alt="plant_header"  class="header_img" src="/static/zebra_header.png" />
        <h1>Please Take Care Of My Plant</h1>
        <h4>This is the internet's plant, please take care of it.</h4>
        
<div id="social_buttons">        
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1748956522056202";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-href="http://www.pleasetakecareofmyplant.com" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.pleasetakecareofmyplant.com%2F&amp;src=sdkpreparse">Share</a></div>
      
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.pleasetakecareofmyplant.com" data-text="Please take care of this plant" data-via="wackser" data-hashtags="TakeCareOfThePlant">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
   
      </div> 
</div>
        <div id = 'iframe'>
<iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/MXUZe7ptfh?autoplay=1"></iframe>
</div>

<h3>How it works</h3>
        <p>Every day YOU can vote whether or not to water the plant on that day. <br>
        </p>
        <p>Voting takes place on the dedicated subreddit, <a href="http://old.reddit.com/r/takecareofmyplant">r/takecareofmyplant</a><br>
        </p> 
        <p>The livestream is a great way to check in on the plant and see how it is doing. </p>
        <p>See behind the scenes and more plant content on instagram
        <a href="http://www.instagram.com/takecareofmyplant">@takecareofmyplant</a>
        <p>Scroll down to see some data and learn more about the plant and this project!</p>
            
<h3>Plant Sensor Data (updated every 10 minutes)</h3>
        

<a href="static/moisture.png">
<img alt="moisture data" class='graph_img' src="static/moisture.png" />
        </a>
<br>
<a href="static/temp.png">
<img alt="temperature data" class='graph_img' src="static/temp.png" />
        </a>
<br>
<a href="static/light.png">
<img alt="light data" class='graph_img' src="static/light.png" />
        </a>
<br>
<a href="static/humid.png">
<img alt="humidity data" class='graph_img' src="static/humid.png" />
        </a>
<div id = 'ad'>
    <h3>Check out some of the tools I used to build this</h3>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=B01CD5VC92&asins=B01CD5VC92&linkId=afc80c8ea22fc763cb377c6aa4e73296&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=B00EWENMAU&asins=B00EWENMAU&linkId=a7e3296dd072315277e3d398065e5689&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
       <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=1259587401&asins=1259587401&linkId=9996191f424aa2f5f7fa418196745ed4&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=B00V04LE96&asins=B00V04LE96&linkId=2f26823036065801e533c07c64ef0156&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=B00P2E9W30&asins=B00P2E9W30&linkId=0bac337ceb81646abe7cf85b62ed4e3a&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
    </div>
        </p>
         
    </body>
    <footer>
    <p>I am Tyler. If you want to chat you can reach me:</p>
    <br>tylerjaywood@gmail.com
    <br>@wackser on tweeter
    <br>@takecareofmyplant on ig</p>
    </footer>
    <br><br>
</html>
