<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="static/main.css">
    </head>
    <body>
<img alt="plant_header"  class="header_img" src="/static/zebra_header.png" />
        <h1>Please Take Care Of My Plant</h1>
        <h4>This is the internet's plant, please take care of it.</h4>
        
        
        <div id = 'iframe'>
<iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/MXUZe7ptfh?autoplay=1"></iframe>
</div>

<h3>How it works</h3>
        <p>Every day YOU can vote whether or not to water the plant on that day. <br>
        </p>
        <p>Voting takes place on the dedicated subreddit, <a href="http://old.reddit.com/r/takecareofmyplant">r/takecareofmyplant</a><br>
        </p> 
        <p>The livestream is a great way to check in on the plant and see how it is doing. </p>
        <p>Scroll down to see some data and learn more about the plant and this project!</p>
            
<h3>Plant Sensor Data (updated every 10 minutes)</h3>
        

<a href="graphs/moisture.png">
<img alt="moisture data" class='graph_img' src="static/moisture.png" />
        </a>
<a href="templates/graphs/temp.png">
<img alt="temperature data" class='graph_img' src="static/temp.png" />
        </a>
<a href="templates/graphs/light.png">
<img alt="light data" class='graph_img' src="static/light.png" />
        </a>
<a href="templates/graphs/humid.png">
<img alt="humidity data" class='graph_img' src="static/humid.png" />
        </a>
<div id = 'ad'>
    <h4>Check out some of the tools I used to build this</h4>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=B01CD5VC92&asins=B01CD5VC92&linkId=afc80c8ea22fc763cb377c6aa4e73296&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=B00EWENMAU&asins=B00EWENMAU&linkId=a7e3296dd072315277e3d398065e5689&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
       <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=1259587401&asins=1259587401&linkId=9996191f424aa2f5f7fa418196745ed4&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=B00V04LE96&asins=B00V04LE96&linkId=2f26823036065801e533c07c64ef0156&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=strawsnotlaws-20&marketplace=amazon&region=US&placement=B00P2E9W30&asins=B00P2E9W30&linkId=0bac337ceb81646abe7cf85b62ed4e3a&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=006400&bg_color=e2725b">
    </iframe>
    </div>
        </p>
         
    </body>
</html>
